# This rule is not used by the project kafka-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to kafka.kubedoop.dev.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: kafka-operator
    app.kubernetes.io/managed-by: kustomize
  name: kafkacluster-viewer-role
rules:
- apiGroups:
  - kafka.kubedoop.dev
  resources:
  - kafkaclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kafka.kubedoop.dev
  resources:
  - kafkaclusters/status
  verbs:
  - get
